.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 30px 2px rgb(42, 42, 220);
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    font-size: 30px;
    font-weight: 700;

}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgb(97, 86, 86);
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(42, 42, 220);
}

.login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    cursor: pointer;

}

.login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border-radius: 20px;
    border: 3px solid rgb(42, 42, 220);
    color: rgb(47, 19, 19);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.login-cart button:active {
    background: #eadfdf;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    background: rgb(206, 5, 5);
    color: white;
    cursor: pointer;
}
.nav-dropdown{
    display: none;
}
@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    I .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .login-cart {
        gap: 30px;
    }

    .login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }

    .cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}
@media (max-width:1024px) {
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .login-cart img {
        width: 30px;
    }
    .cart-count{
        width: 18px;
        height: 18px;
    }
}
@media (max-width:800px) {
    .navbar{
        padding: 10px 0px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display: none;
        margin: 10px;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: whitesmoke;
        top: 50px;
        justify-content: center;
    }
    .nav-menu-visible{
        display: flex
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px) {
    .navbar{
        padding: 8px 0px;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .login-cart{
        transform: scale(0.8);
    }
}